body {
    /* box-sizing: border-box;  */
    color: #9B9B9B;
}

.dark {
    color: #4A4A4A;
}

/* header  */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding: 16px 24px;
    font-family: avant-garde, sans-serif;
}

.logo {
    height: 32px;
    width: auto;
}

.logoBox {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.colmar {
    font-weight: 550;
}

.ColmarAcademy {
    padding: 4px;
}

.skinny {
    font-weight: 80;
}

nav {
    padding-right: 24px;
}

nav li{
    display: inline-block;
    padding: 0px 8px;
    font-size: 24px;
}

/* main  */

main {
    font-family: avant-garde, sans-serif;
}

/* main- first section banner  */

.first-section {
    display: flex;
    background-color: #D8D8D8;
    width: 100%;
    height: auto;
}

.image-first-section {
    width: 60%;
    height: auto;
    padding: 32px; 24px,
}

.text-first-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
}

button {
    color: white;
    background-color: #4A4A4A;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: auto;
    dorder: none;
    font-size: medium;
    border: none;
}

/* main- second section information */

.second-section {
    display: flex;
    width: 100%;
    height: auto;
}

.second-section-left {
    width: 60%;
    height: auto;
    padding: 32px; 24px,
}

.image-large-information {
    width: 100%;
    height: auto;
}

.text-left-second-section {
    padding: 0;
    margin: 0;
}

.second-section-statement {
    padding-bottom: 24px;
}

.quote2 {
    font-family: avant-garde, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size: 16px;
}

.quote2by {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.second-section-right {
    width: 40%;
    height: auto;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.information {
    display: flex;
    align-content: center;
}

.image-container-second-section {
    width: 35%;
    /* max-width: 35%; */
    height: auto; 
    padding: 16px;
}

.image-second-section {
    
    max-width: 100%;
    height: auto;
    display: block;
    
}

.text-right-second-section {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    justify-content: center;
}

.ReadMore-Link {
    color: #4D91E2;
}

.information-orientation {
    /* padding-top: 16px; */
}

.information-guest-lecture {
    background-color: #D8D8D8;
}

.information h4 {
    font-size: 24px;
}

.information h4,
.information p,
.information a {
    margin: 4px;
}

/* main- third section classes */

.third-section {
    background-color: #EAEBEC;
    width: 100%;
    height: auto;
}

.third-section-display {
    padding: 32px 56px;
}

.third-section h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    
}

.third-section-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courses {
    flex: 0 28.3%;
    /* align-content: flex-start; */
    height: auto;
    margin: 0px 16px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.courses-text {
    background-color: white;
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 16px;
    flex: 1 0 auto;
}

.top-row {
    margin-bottom: 32px;
}

.third-section h4 {
      margin: 0px 0px 8px 16px; 
}

.courses {
    margin : 0px 0px 8px 16px;
    border: none;
}

.course-content {
    margin: 0px 0px 0px 16px;
}

.top-row {
    margin-bottom: 32px;
}

/* main- fourth section thesis */

.fourth-section {
    width: 100%;
    height: auto;
}

.fourth-section-display {
    width: 100%;
    height: auto;
}

.fourth-section-left-right {
    width: 100%;
    height: auto;
    display: flex;
}

.fourth-section h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    padding-top: 32px;
}

.fourth-section-left {
    width: 60%;
    height: auto;
    margin: 0px 24px 24px 24px;
}

.fourth-section-left video {
    width: 100%;
    height: auto;
}

.text-left-fourth-section {
    padding: 24px 0px 32px 0px
}

.fourth-section-left h4,
.fourth-section-left h5  {
    margin: 0;
}

.fourth-section-left h5 {
    padding-top: 8px;
}

.fourth-section-right {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.thesis {
    width: 100%;
    height: auto;
    display: flex;
}

.fisma {
    background-color: #D8D8D8;
}

/* .fourth-section-right img {
    width: 35%;
    height: auto;
} */

.image-container-fourth-section {
    width: 35%;
    height: auto;
    padding: 16px;
}

.fourth-section-right img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-right-fourth-section {
    width: 65%;
    height: auto;
}


